<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
Hello, I'm Quentin - a developer, designer, problem solver. I've been passionately programming since the age of 15.
I've had the privlege to work as an intern for a few companies, learning all about the business and software engineering.
During this time, I’ve taken part in some very cool development projects.
Some of these projects include a web application built for HVAC engineers, technicians, CMM operators, and management that is designed
to improve productivity during compressor design and development. I've also had the chance to work on a enterprise-level UI framework.
At the University of Wisconsin-La Crosse, I’ve had a lot of fun participating in the ACM NCNA Regional Programming Contests.
I’ve also had the great opportunity to work on an undergraduate research project at involving AI practices in pair with a biological/conservational problem regarding the Chestnut Blight Fungus.
</div>
