/*
 * Global Variables
 */

// Google font import
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,400,400italic|Roboto+Mono);

// Custom variables

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer:                     1rem !default;
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;
$border-width:               .0625rem !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:     "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:          Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:      "Roboto Mono", "Courier New", monospace !default;
$font-family-base:           $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:             15px !default;

$font-size-base:             $font-size-root !default;
$font-size-lg:               $font-size-root * 1.25 !default;
$font-size-sm:               $font-size-root * 0.875 !default;
$font-size-xs:               $font-size-root * 0.75 !default;

$font-size-h1:               2rem !default;
$font-size-h2:               1.75rem !default;
$font-size-h3:               1.5rem !default;
$font-size-h4:               1.25rem !default;
$font-size-h5:               1.15rem !default;
$font-size-h6:               1rem !default;

$base-line-height:            1.5;
$base-space-unit:             1.5em;

$hr-border-color:             rgba(0,0,0,.1) !default;
$hr-border-width:             $border-width;

// Custom
$q-white: #fafafa;
$q-black: #333333;

// Skills
$java-col: #CB463A;
$html-col: #F16529;
$js-col: #F0DB4F;
$css-col: #008FD5;
$cs-col: #662E93;
$c-col: #A8B9CC;
$sql-col: #45AC4E;
$haskell-col: #999999;
$angular-col: #DD0031;
$jq-col: #343434;
$ef-col: #FFACAA;
$net-col: #008CDB;
$anime-col: #31FFA6;
$git-col: #F05033;
$node-col: #43853D;
$react-col: #4AD5FF; //#61DAFB
$bash-col: #22DD26;
$npm-col: #910505;
$sqls-col: #A9A9AC;
$inkscape-col: #333;
$azure-col: #0071c5;
$iis-col: #043e54;
$webapi-col: #90b231;
$dl4j-col: #000000;
$javafx-col: #53829e;

// Social
$email: #3d3d3d;
$linkedin: #0077B5;
$github: #010101;
$stackoverflow: #F48024;
$spotify: #1ED760;
$youtube: #FF0000;


$text-color:       rgba(0, 0, 0, 0.87) !default;
$background-color: #f5f5f5;

$white:            #fff;
$primary:          #42b983;
$secondary:        #1d1b4d;
$success:          #65e892;
$danger:           #f83e4b;
$warning:          #c38405;//#be6837;
$info:             #09ABF6;

// Tables
$table-border-color: #d0d0d0 !default;
$table-striped-color: #f2f2f2 !default;

// Grid Variables
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

// Media Query Ranges
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$larger-screen: 1600px !default;
